@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	/*user-select: none;*/
}

/*Canvio de color al seleccionar un parrafao, imagenes, etc.*/
*::selection{
	background-color: rgb(179, 173, 184);
}

:root {
	--mainColor: #1d1f27;
	--mainColorLight: #5767aa;
	--secondaryColor: #db2b39;
	--textColor: #eee;
	--color-expertiment: rgba(17 24 39 /1);
}
body {
	background-color: var(--color-expertiment);
}
/*Header Component*/
header, nav {
	display: flex;
	align-items: center;
}
header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 80px;
	padding: 0 2rem;
	background-color: var(--mainColor);
	color: var(--textColor);
}

nav a {
	display: block;
	font-size: 1.25rem;
	margin: 0 1rem;
	color: var(--textColor);
	text-decoration: none;
	transition: color 300ms ease-in;
	position: relative;
}

nav a:hover {
	color: var(--secondaryColor);
}

.link--active::before{
	content: '';
	display: block;
	width: 0px;
	height: 2px;
	background-color: white;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0);
	animation: lineup forwards 400ms;
	animation-delay: 50ms;
}
@keyframes lineup {
	from{width: 0px;}
	to{width: 40px;}
}
header .nav-btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: var(--textColor);
	visibility: hidden;
	opacity: 0;
	font-size: 1.8rem;
}
.icono{
	font-size: 2.5rem;
}

/*HomePage Component*/
.home{
	width: 100%;
	background: url(../assets/images/home-wallpaper-date-a-live.jpg) center  no-repeat scroll;
	background-size: cover;
}
.home__container{
	box-sizing: border-box;
	width: 100%;
	height: calc(100vh - 80px);
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0 0 0 /.4);
}
.home__article{
	width: 1200px;
	height: 400px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: rgb(241, 235, 235);
}
.home__title{
	font-size: 6.5rem;
	font-weight: 700;
	text-align: center;
}
.home__subtitle{
	font-size: 2.35rem;
	font-weight: 400;
	text-shadow: 2px 2px 2px rgb(150 124 172 /1);
	text-align: center;
}

/*DonacionesPage*/
.donaciones{
	width: 100%;
	height: calc(100vh - 80px);
	background: url(../assets/images/donaciones-wallpaper-waifu1-reverse.jpg) center top -50px scroll no-repeat;
	background-size: cover;
}
.donaciones__container{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
}
.donaciones__content{
	box-sizing: border-box;
	width: 700px;
	height: 100%;
	padding: 40px 80px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: rgba(150, 124, 172, 0.97);
	color: whitesmoke;
}
.donaciones__title{
	font-weight: 600;
	font-size: 5rem;
	text-align: center;
	margin-bottom: 76px;
}
.donaciones__subtitle{
	font-weight: 500;
	font-size: 1.6rem;
	line-height: 1.5rem;
}
.donaciones__paragraph{
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	gap: 30px;
}
.donaciones__text{
	font-weight: 400;
	font-size: 1.35rem;
	line-height: 1.5rem;
}
.donaciones__text--bold {
	font-weight: 600;
	font-size: 1.55rem;
	line-height: 1.5rem;
}
.donaciones__text--left{
	margin-left: 10px;
}
.donaciones__image--logo{
	width: 120px;
	margin:0 auto 0 ;
}

/*Novaleas Activas Page*/
.novelas-activas{
	width: 100%;
	height: calc(100vh - 80px);
	background: url('../assets/images/novelas-activas-wallpaper-japnesse-picture.jpg') fixed bottom center  no-repeat;
	background-size: cover;
}
.novelas-activas__background{
	width: 100%;
	height: 100%;
	background-color: rgba(0 0 0 /.2);	
	overflow-y: auto;
	scroll-behavior: smooth;
}
.novelas-activas__container{
	max-width: 1200px;
	margin: 0 auto;
}
.novelas-activas__title{
	font-size: 5rem;
	text-align: center;
	color: rgba(255 255 255 /.9);
	margin: 100px 0;
}
.novelas-activas__content{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	justify-items: center;
	align-items: start;
	gap: 70px 0;
}

/*Card Novels*/
.novelCard{
	width: 250px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: aliceblue;
}
.novelCard__img{
	width: 200px;
	height: 300px;
	object-fit: cover;
	object-position: center center;
}
.novelCard__button{
	box-sizing: border-box;
	width: 200px;
	padding: 10px 10px;
	margin: 0;
	background-color: #1d1f27;
	border: none;
	font-size: 1rem;
	transition: all 0.3s ease-in;
}
.novelCard__link{
	text-decoration: none;
	color: aliceblue;
}
.novelCard__button:hover{
	background-color: rgba(150, 124,172, 1);
}

/*Novel Info pAGE*/
.novel-info{
	width: 100%;
	height: calc(100vh - 80px);
	background: url(../assets/images/info-novels-background.jpg) center center no-repeat;
	background-size: cover;
}
.novel-info__container{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 50px;
	background-color: rgba(0 0 0 /0.15);
	overflow-y: auto;
}
.novel-info__textcontent{
	width: 1200px;
}
.novel-info__tittle{
	color: white;
	font-size: 4rem;
	font-weight: 700;
	text-align:  center; 
	margin-top: 50px;
	margin-bottom: 40px;
}
.novel-info__description{
	font-size: 1.7rem;
	color: white;
	font-weight: 500;
	text-align: justify;
}
.novel-info__volumes{
	width: 1200px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	justify-items: center;
	align-items: start;
	gap: 70px 0;
}

/*Volume Download*/ 
.volume-download{
	width: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}
.volume-download__btn{
	width: 150px;
	border: none;
	background-color: #1d1f27;
	padding: 10px;
}
.volume-download__link{
	color: aliceblue;
	text-decoration: none;
}

/*Media Queries*/
@media only screen and (max-width: 1024px) {
	header .nav-btn {
		visibility: visible;
		opacity: 1;
	}

	header nav {
		position: fixed;
		top: 0;
		left: 100%;
		height: 100vh;
		width: 300px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		visibility: hidden;
		gap: 1.5rem;
		background-color: var(--mainColor);
		transition: 1s;
	}

	header .responsive_nav {
		transform: translateX(-100%);
		visibility: visible;
	}

	nav .nav-close-btn {
		position: absolute;
		top: 2rem;
		right: 2rem;
	}

	nav a {
		font-size: 1.6rem;
	}
}
@media only screen and (max-width: 480px){
	header nav{
		width: 100%;
	}
}